/* App container */
.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* Header */
.App-header {
  background-color: #1DA1F2;
  color: #fff;
  font-size: 24px;
  text-align: center;
  height: 10vh;
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
}
.header-title {
  font-weight: 700;
  font-size: 1.5em;
}

/* Main container for tweet and controls */
main {
  flex: 1;
  display: flex;
  height: 90vh;
  flex-direction: column;
  overflow: hidden;
}

@media (min-width: 800px) {
  /* Main container for tweet and controls for web browser shaped screens */
  main {
    flex-direction: row;
  }
}

/* config-controls */
.config-controls {
  background-color: #e25959;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 1;
  display: none;
}

@media screen and (min-width: 768px) {
  /* config-controls for web browser shaped screens */
  .config-controls {
    display: block;
    position: relative;
    width: 25%;
    height: 100%;
    max-height: 100%;
  }
}

@media screen and (orientation: portrait) {
  /* config-controls for mobile or vertical screens */
  .config-controls {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    max-height: 33%;
  }
}

/* Tweet */
.Tweet {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
